<div class="lds-ripple">
  <div></div>
  <div></div>
</div>
<div class="card-columns">
  <div class="card" style="width: 18rem;">
    <img src="./assets/male.jpg" class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title">Jhonatan Plata</h5>
      <p class="card-text">Celular: +57 300 000 0000</p>
      <a href="#" class="btn btn-primary">Editar</a>
      <button class="btn btn-danger">Eliminar</button>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
      <img src="./assets/male.jpg" class="card-img-top" alt="image">
      <div class="card-body">
        <h5 class="card-title">Jhonatan Plata</h5>
        <p class="card-text">Celular: +57 300 000 0000</p>
        <a href="#" class="btn btn-primary">Editar</a>
        <button class="btn btn-danger">Eliminar</button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="./assets/male.jpg" class="card-img-top" alt="image">
        <div class="card-body">
          <h5 class="card-title">Jhonatan Plata</h5>
          <p class="card-text">Celular: +57 300 000 0000</p>
          <a href="#" class="btn btn-primary">Editar</a>
          <button class="btn btn-danger">Eliminar</button>
        </div>
      </div>
</div>